body{
  background-color:#fff;  
}

.form-registro{  
  max-width: 30rem;
  margin: 5rem auto 5rem auto;
}
input:focus{
  color:rgba(0, 0, 0, 0.623);  
}

.mdl-js-textfield{/*Editando clase material design lite*/
  color:#616161;
}

#bton-1{
  background-color:#3F51B5;
  margin-top: 3rem;
  color: #fff;
  height:45px ;     
}

#bton-1:hover{
  background-color: #303f9f;   
}

em{color: #ef5350;}




